@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4c1d95, #17141F);
  font-family: 'Barlow', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container {
  display: grid;
  gap: 30px;
  border-radius: 50px;
  /* background-color: rgb(245, 245, 240); */
  background-color: #cffafe;
  box-shadow: black 8px 8px 15px;
  padding: 25px 50px 25px 10px;
  width: 96vw;
  height: 97vh;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 8fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr;
}

.greeting > p:first-child {
  font-size: 1.5rem;
}

.greeting > p:last-child {
  font-size: 2rem;
  font-weight: 600;
}

.top-header,
.bottom-header {
  display: grid;
  grid-template-columns: 1fr 5fr repeat(3, 1fr); 
  align-items: center;
  gap: 30px;
}

.top-header > :first-child,
.bottom-header > :first-child {
  margin-left: 20px;
}

.header input[type='button'] {
  appearance: none;
  background-color: turquoise;
  width: 120px;
  height: 50px;
  border: 2px solid turquoise;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  justify-self: end;
}

.top-header > input[type='search'] {
  appearance: none;
  width: 90%;
  height: 3rem;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: inset 2px 2px 8px slategray;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.5rem;
}

.top-header > input:focus {
  outline: none;
  border: 3px solid turquoise;
}
.sidebar {
  grid-area: sidebar;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  display: grid;
  grid-template-rows: 1fr 4fr;
  padding-left: 30px;
}

.sidebar-options-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 2rem);
  row-gap: 30px;
  padding-top: 80px;
}

.sidebar .dash {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  padding-top: 15px;
  font-size: 2rem;
}

.sidebar-options-container > :nth-child(1n) {
  display: grid;
  align-items: center;
  grid-template-columns: 4rem 3fr;
}

.image {
  width: 40px;
  height: 40px;
}

.messages .image {
  content: url('./imgs/email-outline.svg');
}

.settings .image {
  content: url('./imgs/cog-outline.svg');
}

.tasks .image {
  content: url('./imgs/clipboard-list-outline.svg');
}

.profile .image {
  content: url('./imgs/card-account-details-outline.svg');
}

.privacy .image {
  content: url('./imgs/shield-account-outline.svg');
}

.top-header .alert,
.top-header .top-header-icon {
  display: block;
}

.top-header .alert {
  content: url('./imgs/bell-ring-outline.svg');
  height: 35px;
  width: 35px;
  justify-self: end;
}

.top-header .top-header-icon {
    display: block;
    background-image: url('./imgs/day18-floppy.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100%;
    border-radius: 50%;
    justify-self: end;
}

.top-header .top-header-username {
  font-size: 1.5rem;
  font-weight: 600;
}
.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;

}

.main-content .bg-image {
  display: block;
  position: absolute;
  background-image: url('./imgs/rocket_green.svg');
  background-repeat: no-repeat;
  width: 60vw;
  height: 70vh;
  left: 35vw;
  top: 25vh; 
  opacity: 50%;
}

.top-header > .search-image {
  display: block;
  background-image: url('./imgs/magnify.svg');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  justify-self: start;
}

.sidebar-options-container > div:hover {
  transform: scale(1.2);
}


.user-icon {
    display: block;
    background-image: url('./imgs/day18-floppy.svg');
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: 100%;
    border-radius: 50%;
}


.card {
  width: 100%;
  height: 100%;
  position: relative;
  border: 3px solid black;
  background-color: rgb(245, 245, 240);
  opacity: 100%;
  z-index: 1;
  border-radius: 20px;
  padding-left: 50px;
}

.stripe {
  position: absolute;
  display: block;
  height: 102%;
  width: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #eab308;
  left: -1%; 
  top: -1%;
}
